body{
    font-family: Arial, serif;
    background-color: #465d73;
    text-align: center;
    padding: 20px;
}
h1{
    color: white;
}
button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}
button:hover{
    background-color: blue;
}